/*
        -Index CSS
        @author Inari, Jukka, Ville
*/

body, html {
        height: 100%;
        /* The image used */
    background-image: url("/branko-stancevic-417172-unsplash.jpg") !important;
        /* Center and scale the image nicely */
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        color: #FFF;
        font-family: 'Courier New', Courier, monospace !important;
}
.main-head{
    height: 150px;
   /* background: #FFF; */
}

.sidenav {
    height: 100%;
    background-color: #000;
    overflow-x: hidden;
    overflow: hidden;
    padding-top: 20px;
}

.main {
    padding: 0px 10px;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
}

@media screen and (max-width: 450px) {
    .login-form{
        margin-top: 10%;
    }

    .register-form{
        margin-top: 10%;
    }
}

@media screen and (min-width: 768px){
    .main{
        margin-left: 40%; 
    }

    .sidenav{
        width: 40%;
        position: fixed;
        z-index: 1;
        top: 0;
        left: 0;
    }

    .login-form{
        margin-top: 80%;
    }

    .register-form{
        margin-top: 20%;
    }
}


.login-main-text{
    margin-top: 20%;
    padding: 60px;
    color: #fff;
}

.login-main-text h2{
    font-weight: 300;
}

.login-footer-text{
    position: absolute;
    bottom: 20px;
    right: 10px;
    padding: 10px;
    color: #FFF;
    font-weight: 0;
    font-size: 0.7em;
}

.outlook {
    background-color: rgb(39, 38, 38);
    color: #FFF;
    padding: 25px 15px;
    border-radius: 10px;
    border: 1px solid lightslategrey;
    border-top: 2px solid lightslategrey;
    border-bottom: 2px solid lightslategrey;
}

input:focus {
    outline: 1px solid blueviolet !important;
    border: 2px solid #82A645 !important;
    box-shadow: 0 0 25px #82A645 !important;
}

button:hover {
    outline: 1px solid blueviolet !important;
    border: 1px solid #82A645 !important;
    box-shadow: 0 0 25px #82A645 !important;
}

.typewriter > div > h2, .typewriter > div > h2, h3 {
    overflow: hidden; /* Ensures the content is not revealed until the animation */
    white-space: nowrap; /* Keeps the content on a single line */
    margin: 0 auto; /* Gives that scrolling effect as the typing happens */
    letter-spacing: .20em; /* Adjust as needed */
    animation: 
      typing 3.5s steps(25, end),
      blink-caret .80s step-end;
  }
  
  /* The typing effect */
  @keyframes typing {
    from { width: 0% }
    to { width: 100% }
  }
  .col-md-6, .col-sm-12 {
      margin-top: -15% !important;
  }  